.main {
  margin-left: 72px;

  min-height: 100vh;

  width: calc(100% - 72px);

  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;

  padding: 32px;

  transition:
    margin-left 0.25s ease,
    width 0.25s ease;
}

.main.expanded {
  margin-left: 260px;

  width: calc(100% - 260px);
}
