.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  justify-items: center;
}

/* .content {
  margin-left: 72px;

  width: calc(100% - 72px);

  padding: 32px;

  box-sizing: border-box;
} */
